inquirer
pandas==1.5.3
openpyxl
xlwt
numpy==1.26.4
tabulate
termcolor
pyfiglet
google
google_auth_oauthlib
google-api-python-client
gql[all]
google-cloud-logging
redshift-connector
matplotlib
scikit-learn
